{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Document</title>
    <style>
        .boxes {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            width: 500px;
            height: 500px;
          }
        
        .box {
            width: 250px;
            height: 250px;
            background-color: rgb(129, 206, 135);
            border: solid 2px black;
        }
    </style>
</head>
<body id="body">

    <div class="boxes">
        <div class="box" id="box1"></div>
        <div class="box" id="box2"></div>
        <div class="box" id="box3"></div>
        <div class="box" id="box4"></div>
    </div>
    
    <script>
        var box = document.getElementsByClassName('box')
var body = document.getElementById('body')

box[0].style.backgroundColor = 'green'
box[1].style.backgroundColor = 'blue'
box[2].style.backgroundColor = 'red'
box[3].style.backgroundColor = 'yellow'

box[0].setAttribute("onclick", "logids(id)")
box[1].setAttribute("onclick", "logids(id)")
box[2].setAttribute("onclick", "logids(id)")
box[3].setAttribute("onclick", "logids(id)")

var randomboxlist = []
var randomlistids = []
let sequencelength = 4

var answer = []

for (i=sequencelength; i>0; i--){
    let randombox = Math.floor(Math.random()*4)
    randomboxlist.push(box[randombox])
    
}


setTimeout(blink, 2000)
let toblink=0
function blink(){
    randomboxlist[toblink].style.borderColor = 'white'
    setTimeout(tooriginal, 350)
    console.log(randomboxlist[toblink])
    toblink = toblink+1

    if (toblink<randomboxlist.length){
        setTimeout(blink, 1000)
    }

}


function tooriginal(){
    box[0].style.borderColor = 'black'
    box[1].style.borderColor = 'black'
    box[2].style.borderColor = 'black'
    box[3].style.borderColor = 'black'

}


for (i=0; i<randomboxlist.length; i++){
    randomlistids.push(randomboxlist[i].id)
}

let index = 0
function logids(id){

    console.log(id)
    console.log(randomlistids[index])

    if (answer.length < randomlistids.length-1){


        if (id != randomlistids[index]){
            alert('Chutiya')
            location.reload()
        }else{
            answer.push(id)
            index++
        }
        console.log('-----------')

    }else{
        if (id == randomlistids[index]){
            alert('You Win')
        }else{
            alert('Lost at last')
        }
        
    }
}

    </script>

</body>
</html>

{% endblock %}